* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #edf0f1;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    
}

li, a, button {
font-size: 16px;
color: #edf0f1;
text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}



.nav_links{
    list-style:none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 300ms ease 0s;   /*0.3s eller 300ms = ms funkar bättre med java. denna gäller alla li länkar inte bara button*/
}

.nav_links li a:hover {
    color:#0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius:30px;
    cursor: pointer;
    transition: all 300ms ease 0s;  
}

button:hover{
    background-color: rgba(0,136,169,0.8);

}

main{
    margin:center;
}